div {
	border-radius: 0px;
}

#header {
	z-index: 1;
	position: relative;
	width: 100%;
    margin-top: 0px;
	height: 40px;
	background-color: #668284;
	margin-bottom:10px;
    text-align: center;
}

#nav {
    margin: 0 auto;
    margin-top: 0px;
    position:absolute;
    top:25%;
    left:75%;

}

#nav li{
  display: inline;
  list-style-type: none;
  margin: 4px;

}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}


.right {
	position: relative;
	float: left;
	margin-top: -10px;
	width: 100%;
	height: 400px;
	background-color: #C7C7C7;
	margin-bottom: 0px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
