.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
  margin:right;
}

.jumbotron {
  background-image:url('http://media-cdn.tripadvisor.com/media/photo-s/01/bf/b2/f3/beautiful-okoboji-sunsets.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .introduction {
  position: absolute;
  margin:auto;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  margin:auto;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  margin:auto;
}
